<div  th:fragment="messageList"  xmlns:th="http://www.thymeleaf.org">
    <div class="row my-3">
        <div th:if="${userChanel}" >
            <h5 th:text="${userChanel.username}"></h5>
            <div th:if="${isCurrentUser} == false">
                <a th:href="${isSubscriber} ? @{/user/unsubscribe/{chanelId}(chanelId = ${userChanel.id})} : @{/user/subscribe/{chanelId}(chanelId = ${userChanel.id})}"
                   th:text="${isSubscriber} ? 'usubscribe' : 'subscribe'" class="btn btn-info"></a>
            </div>
            <div class="row my-3">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" >Subscriptions</h5>
                            <a th:href="@{/user/subscriptions/{chanelId}/list (chanelId = ${userChanel.id})}" class="card-link" th:text="${subscriptionsCount}">0</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Subscribers</h5>
                            <a th:href="@{/user/subscribers/{chanelId}/list (chanelId = ${userChanel.id})}" class="card-link" th:text="${subscribersCount}">0</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-2 card mx-2" style="width: 18rem;" th:each="message : ${messages}" id="message-list">
            <div th:if="${message.filename} != null">
                <img class="card-img-top" th:attr="src='/img/' + ${message.filename}"/>
            </div>
            <div class="card-body" th:attr="data-id=${message.id}">
                <h5 class="card-title" th:text="${message.tag}"></h5>
                <p class="card-text" th:text="${message.text}"></p>
            </div>
            <div class="card-footer" >
                <a th:href="@{/user-messages/{userId}(userId=${message.author.id})}"
                   th:text="${message.authorName}"></a>
                <a th:if="${message.author.id} == ${#request.userPrincipal.principal.id}" th:href="@{/user-messages/{userId}/(userId=${message.author.id},
                 message=${message.id})}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>