<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <span>
        <a th:href="@{/user}">users list</a>
    </span>
</div>
<div>
    <form method="post" action="/save" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Enter your message">
        <input type="text" name="tag" placeholder="write your tag">
        <input type="file" name="file">
        <input type="submit" name="submit" value="submit">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<div>
    <form action="/main" method="get">
        <input type="text" name="filter" placeholder="search by tag" th:value="${filter}">
        <button type="submit">search</button>
    </form>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td>Message id</td>
            <td>Message</td>
            <td>Tag</td>
            <td>Author</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.text}"></td>
            <td th:text="${message.tag}"></td>
            <td th:text="${message.authorName}"></td>
            <td th:if="${message.filename} != null">
                <img th:attr="src='/img/' + ${message.filename}">
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>