<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>Main</title>
</head>
<body>
<div layout:fragment="replace_fragment">
    <div class="form-row my-3">
        <div class="form-group col-md-6">
            <form action="/main" method="get">
                <div class="row">
                    <div class="col-5">
                        <input class="form-control" type="text" name="filter" placeholder="search by tag"
                               th:value="${filter}"/>
                    </div>
                    <div class="col-7">
                        <button class="btn btn-primary" type="submit">search</button>
                    </div>
                </div>
            </form>
        </div>
        <div th:insert="fragment/messageEdit :: messageEdit"></div>
        <div th:insert="fragment/messageList :: messageList"></div>
    </div>


</div>

</body>
</html>